<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Fantasy Bank</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <header>
      <h1>Fantasy Bank: About</h1>
    </header>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Create</a></li>
        <li><a href="#">View</a></li>
      </ul>
    </nav>
    <main>
      <p>CVTC Username: jzarins2</p>
      <p>GitHub: <a href="https://github.com/it-sd/sqc-project-JZarins2324">Fantasy Bank</a></p>
      <p>
        Fantasy Bank's purpose is very simple.  Fantasy Bank offers users a platform to create and store 
        their own or previously existing characters, items, and abilities.  It will also allow users to edit
        the information for their own entries.
      </p>
    </main>
  </body>
</html>