<%- include('../shared/header.ejs') %>

    <main>
      <h2>Home</h2>
      <p id="info">This site was created by <%= name %>. He is the <%= descrip %> that is <%= info %>.</p>
    </main>
  </body>
</html>