<%- include('../shared/header.ejs') %>

    <main>
      <p id="info">This is the view page</p>
      <span id="bodyImg">
        <img alt="image here">
        <p id="desc">Image description</p>
      </span>
    </main>
  </body>
</html>